:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  /* overflow: hidden; */
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Slime Box";
}

/* html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: "Slime Box";
  src:
    url("/fonts/SlimeBox.woff2") format("woff2"),
    url("/fonts/SlimeBox.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
